<!--
<div>
{{title}}
</div>
-->
<adhoc-header></adhoc-header>
 
<adhoc-home></adhoc-home>


<!--
<section class="main">
    <aside class="keep">
      <ul>
        <li>
          <a [routerLink]="['./requests']">
            <span><i class="fa fa-database"> All Requests</i></span>
             
            <span class="notif red">1</span>
          </a>
        </li>      
        <li>
          <a href="/">
            <span><i class="fa fa-bookmark-o"> My Requests</i></span>
             
            <span class="notif yellow">2</span>
          </a>
        </li>
        <li>
          <a href="/">
            <span><i class="fa fa-edit"> Changes</i></span>
             
            <span class="notif green">3</span>
          </a>
        </li>      
        <li>
          <a href="/">
            <span><i class="fa fa-dot-circle-o"> Tasks</i></span>
            <span class="notif pink">4</span>
          </a>
        </li>
        
    
      </ul>
    </aside>
    <article>
      
            <router-outlet></router-outlet>
      
    </article>
</section>
-->